/* raleway css style */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* inter css style */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.btn-primary {
    background-color: rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
       
}


/* header style */
 .head {
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
 
 } 
 .head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 0 auto;
   padding: 20px 30px;
 }
 .head-sub-title {
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
    width: 99px;
    height: 51px;
 }
 .button-primary {
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 25px;
 }
 .header-description{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: 700;
    height: 152px;
    width: 905px;
    margin: 0 auto;
    
 }
 .header-title{
    text-align: center;
   
 }
 
 /* first section title */
 .first-section-title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   margin-top: 50px;
   
   max-width: 1140px;
   height: 328px;
 }
 .first-description {
   color: rgba(37, 36, 50, 0.5);
   font-weight: 50%;
   font-size: 24px;
 }
 .first-image {
   border-radius: 48px;
   height: 328px;
   width: 403px;
   
 }
 .first-section-subtitle {
   height: 200px;
   width: 520px;
   
 }

 /* second section title */
 .second-section-title {
   background-color: darkgray;
   margin-top: 30px;
   border-radius: 15px;
   margin: 0 auto;
   max-width: 1140px;
   
   
 }
 .second-description{
   color: rgba(37, 36, 50, 1);
   font-size: 38px;
   font-weight: 700; 
  text-align: center;
  
 
 }
 .second-sub-title {
   display: flex;
   gap: 24px;
   justify-content: space-around;
   line-height: 0%;
 }
 .second-title {
 color: rgba(78, 71, 255, 1);
 font-size: 80px;
 font-weight: bold;
 }
 .second-paragraph {
   color: rgba(0, 0, 0, 0.5);
   font-weight: 400;
   font-size: 20px;
   text-align: center;
 }
 /* third css style  */
 .third-section-title{
   margin-top: 50px;
  
 }
 .third-flex-item {
   display: flex;
   justify-content: space-around;
 } 
 .third-description {
   text-align: center;
   font-size: 42px;
   font-weight:bold;
   color: rgba(37, 36, 50, 1);
 }
 .third-sub-title{
   background-color: beige;
   margin: 10px 20px;
   height: 300px;
   width: 270px;
   border-radius: 10px;
   padding: 10px 20px;
   
 }
 .third-title {
   font-size: 30px;
   font-weight: 400;    
 }
 .third-image {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 0%; 
 }
 /* footer first style */
.footer-first-title {
   background-color: beige;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 400px;
   max-width: 1000px;
   padding:0 100px;   
 }
 .footer-description {
   color: rgba(0, 0, 0, 1);
   font-size: 100px;
   font-weight: bold;
   height: 200px;
   width: 600px;  
 }

 footer input[type="email"],footer input[type="text"],footer textarea{
   height: 5px;
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 1);
   display: block;
   margin: 0 auto;
   padding: 32px 20px;
   margin-bottom: 15px;
   border: none;  
 }
/* footer second style */
 .footer-second-title {
   max-width: 1140px;
   margin-top: 50px;
  text-align: center;
    
 }

 .footer-second-description {
 color: rgba(78, 71, 255, 1);
 font-size: 100px;
 height: 40px;
 width: 290px;
 
 }
 .footer-paragraph {
   color: rgba(137, 135, 161, 1);
   height: 48px;
   width: 530px;
   
 }
 .footer-button {
   color: rgba(137, 135, 161, 1);
   height: 24px;
   width: 45px;
   display: inline;
   
 }
 